@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope.ttf");
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: hsl(210, 46%, 95%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body,
.card,
.description-container,
.footer-info,
.author-info,
.share-tooltip {
  display: flex;
}

.card {
  font-family: "Manrope", sans-serif;
}

.article-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.description-container {
  background-color: white;
  flex-direction: column;
  justify-content: space-around;
}

.article-title,
.article-description {
  font-weight: 700;
  margin-top: 0;
}

.article-title {
  color: #4a5564;
}

.article-description {
  color: #aeb2b6;
}

.footer-info {
  justify-content: space-between;
  align-items: center;
}

.author-info {
  align-items: center;
}

.author-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.author-name {
  color: #4a5564;
  font-weight: 700;
  margin: 8px 0;
}

.date {
  color: #bfc4c7;
  margin: 8px 0;
  font-weight: 500;
}

#share-button {
  background-image: url("../icons/icon-share.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

#share-button.active {
  background-image: url("../icons/icon-share-active.svg");
  background-color: hsl(212, 23%, 69%);
}

.tooltip-container {
  cursor: default;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.tooltip-container.hidden {
  visibility: hidden;
  opacity: 0;
}

.share-tooltip {
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background-color: hsl(214, 17%, 51%);
  padding: 15px 20px;
  position: relative;
  box-shadow: 0px 4px 9px 0px hsla(214, 17%, 51%, 0.5);
}

.share-tooltip span {
  margin: 0 6px;
}

.share-tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: hsl(214, 17%, 51%) transparent transparent transparent;
  position: absolute;
  filter: drop-shadow(0px 4px 9px hsla(214, 17%, 51%, 0.5));
  transform: translate(-50%, -50%);
  bottom: -16px;
  left: 50%;
}

.tooltip-caption {
  display: block;
  text-transform: capitalize;
  letter-spacing: 8px;
  color: hsl(212, 23%, 69%);
}

.facebook-icon,
.twitter-icon,
.pinterest-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.facebook-icon {
  background-image: url("../icons/icon-facebook.svg");
}

.twitter-icon {
  background-image: url("../icons/icon-twitter.svg");
}

.pinterest-icon {
  background-image: url("../icons/icon-pinterest.svg");
}

@media (min-width: 700px) {
  body {
    height: 100vh;
  }

  .article-description,
  .author-name,
  .date {
    font-size: 18px;
  }

  .card {
    margin: 80px;
  }

  .article-image {
    width: 35%;
  }

  .article-image img {
    border-radius: 15px 0 0 15px;
  }

  .description-container {
    width: 65%;
    border-radius: 0 15px 15px 0;
    padding: 50px;
  }

  .article-title {
    font-size: 22px;
  }

  .tooltip-container {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card > #share-button,
  .social-buttons {
    display: none;
  }
}

@media (max-width: 700px) {
  .article-description,
  .author-name,
  .date {
    font-size: 16px;
  }

  .article-title {
    font-size: 18px;
  }

  .card {
    flex-direction: column;
    margin: 20px;
    position: relative;
  }

  .footer-info {
    margin-top: 40px;
  }

  .article-image,
  .description-container {
    width: 100%;
  }

  .article-image img {
    border-radius: 15px 15px 0 0;
  }

  .description-container {
    border-radius: 0 0 15px 15px;
    padding: 40px;
  }

  .footer-info > #share-button {
    display: none;
  }

  .social-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 145px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 125px;
    border-radius: 0 0 15px 15px;
    background-color: hsl(217, 19%, 35%);
    visibility: visible;
    opacity: 1;
    transition: visibility 0.6s, opacity 0.6s linear;
  }

  .social-buttons.hidden {
    visibility: hidden;
    opacity: 0;
  }

  .card > #share-button {
    position: absolute;
    bottom: 55px;
    right: 40px;
    outline: none;
    border: none;
  }
}
