@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope.ttf");
}

body {
  padding: 0;
  margin: 0;
  background-color: hsl(210, 46%, 95%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-description,
.author-name,
.date {
  font-size: 16px;
}

.card {
  font-family: "Manrope", sans-serif;
  width: 80%;
  display: flex;
}

.article-image {
  background-image: url("../img/drawers.jpg");
  background-repeat: no-repeat;
  background-position: -50px;
  border-radius: 15px 0 0 15px;
  flex-basis: 40%;
  font-size: 18px;
}

.description-container {
  background-color: white;
  border-radius: 0 15px 15px 0;
  padding: 50px;
  flex-basis: 60%;
}

.article-title {
  color: #4a5564;
  font-weight: 700;
  margin-top: 0;
}

.article-description {
  color: #aeb2b6;
  font-weight: 700;
  text-align-last: justify;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.author-name {
  color: #4a5564;
  font-weight: 700;
  margin: 8px 0;
}

.date {
  color: #bfc4c7;
  margin: 8px 0;
  font-weight: 500;
}

#share-button {
  background-image: url("../icons/icon-share.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
}

#share-button.active {
  background-image: url("../icons/icon-share-active.svg");
  background-color: hsl(212, 23%, 69%);
}

.tooltip-container {
  cursor: default;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.tooltip-container.hidden {
  display: none;
}

.share-tooltip {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background-color: hsl(214, 17%, 51%);
  padding: 15px 20px;
  position: relative;
  box-shadow: 0px 4px 9px 0px hsla(214, 17%, 51%, 0.5);
}

.share-tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: hsl(214, 17%, 51%) transparent transparent transparent;
  position: absolute;
  filter: drop-shadow(0px 4px 9px hsla(214, 17%, 51%, 0.5));
  transform: translate(-50%, -50%);
  bottom: -18px;
  left: 50%;
}

.tooltip-caption {
  display: block;
  text-transform: capitalize;
  letter-spacing: 3px;
  color: hsl(212, 23%, 69%);
}

.facebook-icon,
.twitter-icon,
.pinterest-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.facebook-icon {
  background-image: url("../icons/icon-facebook.svg");
}

.twitter-icon {
  background-image: url("../icons/icon-twitter.svg");
}

.pinterest-icon {
  background-image: url("../icons/icon-pinterest.svg");
}